
.navpoint{
    font-weight: 800;
    text-align: center;
    padding: 20px;
    display: inline;
    width: 100px;
   margin-left: 20px;
    background:cyan;
    color: black;
    border-radius: 4px;
    
    
        
}
nav{
display: flex;
align-items: center; /* Center items vertically */
justify-content: center; /* Center items horizontally */
 height: 70vh;
}

.mainheading{
    text-align: center;
    position: relative;
    top: 190px;
  color:turquoise;
  font-size:xx-large;
    
}
.mainhome{
  background-color: black;
}

.botlist{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
}
li{
    width: 30%;

}
.botcard{
    background-color: gray;
    margin: 10px;
   
}
.botarmyrow{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
}
.botarmymembercard{
    background-color:aliceblue;
    margin: 10px;
   
}

.bot-item.chosen button {
    background-color: red;
    color: black;
    cursor: not-allowed;
    font-weight: 800;
    
  }

  .bot-item {
    padding: 10px;
    border: 1px solid blue;
    margin: 5px;
    cursor: pointer;
  }
  .addbutton{
    padding: 10px;
    margin-left: 60px;
    background-color: aqua;
  }

 .catchphrase{
    font-size: small;
 }
 .suspend{
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    font-weight: 800;
    font-size:small;
    position: relative;
    top: 25px;
    margin-left: 10px;
    background-color:mediumturquoise;
 }
 .x{
    background-color: red;
    font-weight: 1000;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    margin-left: 250px;
 }

  .arrangement{
    display: flex;
    position: relative;
    top: 10px;
  }
  .p{
    margin-right: 20px;
  }

  .sortpos{
    margin-left: 1500px;
     padding-top: 15px;
  }

  .sortby{
    font-size: larger;
    font-weight: 800;
  }
  .sortbot{
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: black;
    background-color: aqua;
    
  }

  .home{
    background-image: url('/public/homerobot.jpg');
    background-repeat: no-repeat;
   background-size: 60% 100%;
   background-position: center;
  }


  .botcontainer{
    background-color: black;
  }

  .sortby{
    color: antiquewhite;
  }
  .sortbutton{
    color: aqua;
  }
  .botarmyrow{
   
    width: 84%;
  }
  .final{
    color: black;
    text-align: center;
  }
  .finals{
    background-color: aqua;
    padding: 20px;
  }
  .choose{
    color: aqua;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
  }
  